@import url('https://fonts.googleapis.com/css?family=Roboto:300,900');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');

html {
    max-height: 5378px;
}
header {
    background: url('../img/mainf.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    height: 670px;
}
.main {
    height: 670px;
}
.container {
    width: 960px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

.logo {
    float:left;
    display: inline-block;
    padding: 13px 0 0 0;

}
.main nav ul {
    padding: 33px 0 0 0 ;
    float: right;
}
.main nav ul li {
    float: left;
    text-align: center;
}
.main  nav ul li a:hover {
    color: #00e0d0;
}

.main nav ul li a {
    padding: 22px;
    color:  #fff;
    font: 900 13px Roboto;
    text-transform: uppercase;
}
.main .content {
    width:770px;
    margin: 150px auto;
    text-align: center;
    color: #fff;
}
.main .content h1 {
    font:900 32px 'Playfair Display';
    text-transform: capitalize;
    margin-bottom: 25px;
}
.main .content p {
    margin: 28px 0 50px 0;
    font: 300 14px/1.5 Roboto;
}
button {
    margin: 0 auto;
    border: 1px solid #00e0d0;
    border-radius: 2px;
    background-color: transparent;

}
button a {
    font: 16px 'Hammersmith One', sans-serif;
    color: #00e0d0;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 10px;
}
.main .indicator {
    width: 60px;
    height: 15px;
    margin: 0 auto;
    margin-bottom:36px;
}
.main .indicator a {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #00e0d0;
    border-radius: 50%;
}
.main .container .selected {
    color: #00e0d0;
}

.main .indicator a:hover {
    background-color: #00e0d0;

}
/*---------------story------------*/
.ourstory {
    height: 400px;
    background-color: #fff;

}
.story {
    width: 880px;
    height: 400px;
    margin: 0 auto;
}

.biglogo {
    float:left;
    display: inline-block;
    padding: 70px 0 95px 0;
    }

.story .textstory {
    width: 525px;
    height: 265px;
    float: left;
    margin: 67px 0 0 100px;
    }

.story .textstory h1 {
    font:900 22px 'Playfair Display';
    color:#413d4b;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.story .textstory p {
    font:300 14px/1.5 Roboto;
    color: #a3a2a4;
    margin-bottom: 20px;
}
/*---------------video------------*/
.video {
    height:550px;
    background: url('../img/secondf.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}






/*---------------expertise------------*/
.expertise {
    height: 750px;
    text-align: center;
    background:white;
}

.expertise h1 {
    font: 900 22px 'Playfair Display';
    text-transform: uppercase;
    color:#413d4b;
    padding-top: 70px;
}

.expertise .expertisep p{
    color: #a3a2a4;
    font:400 14px 'Playfair Display';
    padding:10px 0;
    }

.expertise  .tree {
    text-align: center;
    width:900px;
    height:190px;
    margin: 0 auto;
    padding: 40px 0;
}

.expertise .tree div {
    width: 33.33%;
    float: left;
    display: block;

}
.expertise .tree1 {
    text-align: center;
    width:900px;
    height:190px;
    margin: 0 auto;
    padding: 40px 0;
}
.expertise .tree1 div {
    width: 33.33%;
    float: left;
    display: block;

}
.expertise  h3 {
    font:900 14px Roboto;
    margin: 25px 0 10px 0;
    color:#413d4b;

}
.expertise  p {
    font:300 14px Roboto;
    color: #a3a2a4;
    padding: 0 30px;
}

/*---------------team------------*/
.team {
    background: url('../img/teambg.png') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    height: 700px;
    text-align: center;

}
.team h1 {
    font: 900 22px 'Playfair Display';
    text-transform: uppercase;
    color: #fff;
    text-space: 20px;
    padding-top:70px;
    letter-spacing: 1px;

}
.team p {
    font:400 14px 'Playfair Display';
    color: #fff;
    padding: 10px 0;
    letter-spacing: 1px;
}
.team div.teamfoto {
    height:310px;
    width: 940px;
    margin: 0 auto;
    padding-top: 45px;
}

.team div.teamfoto div{
    width: 25%;
    float: left;
    display: block;

}
.team div.teamfoto h3 {
    color:  #fff;
    font: 900 14px Roboto;
    text-transform: uppercase;
    padding-top: 10px;

}
.team div.teamfoto span {
    font:300 14px Roboto;
    text-transform: uppercase;
    color:  #b0aeb7;

}
.team .teambutton p{
    margin-top: 25px;
    font:300 14px Roboto;
    letter-spacing: normal;
    margin-bottom: 15px;
}

/*---------------works------------*/

.works {
    height: 735px;
    background-color: #fff;
}

.titleworks {
    height: 160px;
    width:940px;
    margin: 0 auto;
}

.works h1 {
    font:900 22px 'Playfair Display';
    color:#413d4b;
    text-transform: uppercase;
}

.ourworks {
    height: 40px;
    width: 200px;
    padding-top:70px;
    float: left;
}

.project {
    float: right;
    padding-top:70px;
    height: 40px;
    width: 200px;
}

.works .project a {
    font:300 14px Roboto;
    color:#413d4b;
}

.phworks {
    height: 404px;
    width:1600px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.phworks a{
    display:block;
    width: 16.66%;
    float: left;
}
.my-flex-container{
    display: flex;
    justify-content: center;
}

/*---------------clients------------*/
.clients {
    background: url('../img/clientsbg.png') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    height: 500px;
    text-align: center;
    color: white;
}
.coment {
    width: 780px;
    margin: 0 auto;
}
.coment p{
    font:400 100px 'Playfair Display';


}
.coment blockquote p {
    font:400 14px/1.5 'Playfair Display';
    letter-spacing:1px;
    padding-bottom:  70px;

}
.clients .coment div h3 {
    font:900 14px Roboto;

}
.clients .coment div span {
    font:300 13px Roboto;

}
.smphoto {
    height: 77px;
    width: 390px;
    margin: 0 auto;
    padding: 53px 0 60px;

}

/*---------------form------------*/
.form {
    background-color: #fff;
    height:650px ;

}
.form_conteiner {
    width: 940px;
    height: 650px;
    margin: 0 auto;

}
.mainform {
    float: left;
    width: 460px;


}
.form h1{
    margin-top: 70px;
    font:900 22px 'Playfair Display';
    color:#413d4b;
    text-transform: uppercase;
    margin-bottom: 30px;

}
.mainform form input {
    margin-bottom: 20px;
    padding: 10px 0 10px 20px;
    font:300 14px Roboto; ;
    width: 435px;

}

.mainform form textarea {
    font:300 14px Roboto;
    padding: 10px 0 0 20px;

}
.mainform button{
    margin-top: 25px;
    font: 16px 'Hammersmith One', sans-serif;
    padding: 5px 15px;
    color: #00e0d0;

}
.brends {
    float: right;
}

/*---------------footer------------*/

footer {
    background: url('../img/footerbagr.png') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    height: 400px;
    color: #fff;

}
.footer_cont {
    height: 400px;
    width: 940px;
    margin: 0 auto;
}
.firstblock {
    height: 340px;
    width: 300px;
    padding-top: 60px;
    float: left;
}
.footer_cont p {
    padding: 20px 25px 75px 0;
    font:300 14px/1.5 Roboto;
    text-align: left;
}
.firstblock ul  {
    float: right;
}
.firstblock ul li  {
    float: left;
}
.firstblock li a{
    font:300 14px Roboto;
    text-transform: uppercase;
    padding-right: 25px;
    color: #fff;
}
.firstblock ul li a:hover {
    color:#00e0d0;}

.secondblock {
    width: 270px;
    height: 315px;
    padding-top: 85px;
    float: left;
    margin-left: 30px;
}
.footer_cont h4 {
    font:900 15px Roboto;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.secondblock h5:before {
    content: '';
    width: 20px;
    height: 20px;
    background: url('../img/adress.png') no-repeat left;
    display: inline-block;
}

.secondblock h5 {
    font:300 14px Roboto;
    padding-left: 30px;
}

.secondblock p:before {
    content: '';
    width: 20px;
    height: 20px;
    background: url('../img/phone.png') no-repeat left;
    display: inline-block;
    vertical-align: text-bottom;
}
.thirdblock {
    width: 300px;
    height: 315px;
    padding-top: 85px;
    float: left;
    margin-left: 30px;
}

.thirdblock .subscribe {
    color:#d9d8de;
    text-transform: none;
    font: 14px "Times New Roman" ;
}
.thirdblock button {
    border-color:#d9d8de;
    float: left;
    width: 200px;
    margin: 3px 0 30px;
}

.thirdblock ul {
    float: left;
    }
.thirdblock ul li {
    float: left;
    padding-right: 7px;
}
.thirdblock .pointer {
    float: left;
    width: 70px;
    height: 45px;
    padding-left: 5px;
}
.thirdblock p {
    font:300 14px Roboto;
    margin-top: 35px;
    text-align: right;

}